.image-container {
    margin-top: 25px;
    display: flex; /* Устанавливаем режим flex */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    width: 100%; /* Ширина контейнера */
    height: 300px; /* Высота контейнера (замените на свою) */
}

.image-container img {
    max-width: 100%; /* Изображение не будет превышать ширину контейнера */
    max-height: 100%; /* Изображение не будет превышать высоту контейнера */
    margin: auto; /* Центрируем изображение в контейнере */
}